body {
  background-color: #86109b;
  font-size: 20px;
}


.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  color: white;
  margin-top: 4px;
  margin-bottom: 5px;
}

.app-title {
  text-align: center;
  color: #fff;
}

.container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input-text {
  border-radius: 10px;
  width: 200px;
  height: 25px;
  margin-left: 600px;
}

.add-btn {
  border-radius: 10px;
  display: flex;
  color: white;
  margin-left: 600px;
  margin-top: 4px;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 25px;
  background-color: darkblue;
}

.check-text {
  color: white;
}

.list {
  /* border: 2px solid black; */
  width: 500px;
  margin-left: 550px;
  
}

.todo-list {
  border: 2px solid black;
  margin-top: 1px;
  background-color: white;
  border-radius: 40px;
  width: 400px;
  height: 40px;
  
  list-style-type: none;
}

.btn {
  height: 30px;
  background-color: darkgoldenrod;
  color: white;
  border-radius: 30px;
  margin-left: 70px;
}

input[type=checkbox] {
  margin-top: 12px;
  justify-content: center;
  text-align: center;
  
}

h5 {
  color: white;
  text-align: center;

}

p {
  color: white;
  margin-top: 150px;
  text-align: center;
}